<h1>Les cocktails</h1>

<% @cocktails.each do |cocktail| %>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url(https://images.unsplash.com/photo-1542849187-5ec6ea5e6a27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1047&q=80)">
        <%= cocktail.name.upcase %>
    </div>
  </div>
<% end %>


<p><%= link_to "CREATE A NEW COCKTAIL", new_cocktail_path %></p>

