<h1>Les cocktails</h1>


<p><%= link_to "CREATE A NEW COCKTAIL", new_cocktail_path %></p>

<% @cocktails.each do |cocktail| %>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url(<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>)">
      <%= link_to cocktail.name.upcase, cocktail_path(cocktail) %>
    </div>
  </div>
<% end %>

<!-- https://res.cloudinary.com/dvf2yiqon/image/upload/v1558093273/sample.jpg -->
