<h1>Dose:</h1>


<%= simple_form_for ([@cocktail, @dose]) do |f| %>
  <%= f.input :description, as: :text %>
  <%= f.association :ingredient %>
  <%= f.submit "add a dose", class: "btn btn-primary" %>
<% end %>

